@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root{
    --font-Lexend-Deca: 'Lexend Deca', sans-serif;
    --font-Big-Shoulders-Display: 'Big Shoulders Display', cursiv;
    --color-Bright-orange: hsl(31, 77%, 52%);
    --color-Dark-cyan: hsl(184, 100%, 22%);
    --color-Very-dark-cyan: hsl(179, 100%, 13%);
    --color-Transparent-white: hsla(0, 0%, 100%, 0.75); /*paragraphs*/
    --color-Very-light-gray: hsl(0, 0%, 95%); /*background, headings, buttons*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Access only for screen reader */
.sr-only{
    position: absolute;
    top: auto;
    left: -10000px;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

body{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--font-Lexend-Deca);
    color: var(--color-Very-light-gray);
    letter-spacing: 0.8px;
    background-color: var(--color-Very-light-gray);
}

/* main */
.preview-card{
    display: flex;
    margin: 90px 0;
    width:70vw;
}

.col-1, .col-2, .col-3{
    padding:50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.col-1 > img, .col-2 > img, .col-3 > img{
    width: 70px;
}

.col-1{
    background-color: var(--color-Bright-orange);
    border-radius: 10px 0 0 10px;
}

.col-2{
    background-color: var(--color-Dark-cyan);
}

.col-3{
    background-color: var(--color-Very-dark-cyan);
    border-radius: 0 10px 10px 0;
}


.title{
    font-family: var(--font-Big-Shoulders-Display);
    font-size: 2.8em;
    text-transform: uppercase;
}

.description{
    line-height: 1.7rem;
    font-size: 1em;
    color: var(--color-Transparent-white);
}

.more{
    margin-top: 40px;
    text-decoration: none;
    width: fit-content;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: var(--color-Very-light-gray);
    border: solid 2px var(--color-Very-light-gray);
    transition: 500ms ease;
}

.col-1 .more{
    color: var(--color-Bright-orange);
}

.col-2 .more{
    color: var(--color-Dark-cyan);
}

.col-3 .more{
    color: var(--color-Very-dark-cyan);
}

.more:hover{
    cursor: pointer;
    background-color: transparent;
    color: var(--color-Transparent-white);
}


@media screen and (max-width:768px) {
    .preview-card{
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
    .col-1{
        border-bottom-left-radius: unset;
        border-radius: 10px 10px 0 0;
    }
    .col-3{
        border-top-right-radius: unset;
        border-radius: 0 0 10px 10px;
    }
    .more{
        margin-top: 0;
    }
}