@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root{
    --font-Lexend-Deca: 'Lexend Deca', sans-serif;
    --font-Big-Shoulders-Display: 'Big Shoulders Display', cursiv;
    --color-Bright-orange: hsl(31, 77%, 52%);
    --color-Dark-cyan: hsl(184, 100%, 22%);
    --color-Very-dark-cyan: hsl(179, 100%, 13%);
    --color-Transparent-white: hsla(0, 0%, 100%, 0.75); /*paragraphs*/
    --color-Very-light-gray: hsl(0, 0%, 95%); /*background, headings, buttons*/
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--font-Lexend-Deca);
    color: var(--color-Very-light-gray);
    letter-spacing: 0.8px;
}
/* main */
.preview-card-container{
    display: flex;
    margin: 15px;
}
.col-1, .col-2, .col-3{
    width:300px;
    padding:45px;
}
.col-1{
    background-color: var(--color-Bright-orange);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.col-2{
    background-color: var(--color-Dark-cyan);
}
.col-3{
    background-color: var(--color-Very-dark-cyan);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.col-icon{
    margin-bottom: 28px;
}
.title{
    margin-bottom: 28px;
    font-family: var(--font-Big-Shoulders-Display);
    font-size: 38px;
    text-transform: uppercase;
}
.description{
    line-height: 24px;
    font-size: 14px;
    color: var(--color-Transparent-white);
}
.col-footer{
    padding-top: 70px;
}
.more{
    font-size: 14px;
    text-decoration: none;
    width: fit-content;
    display:block ;
    padding: 12px 26px;
    border-radius: 30px;
    background-color: var(--color-Very-light-gray);
    border: solid 3px var(--color-Very-light-gray);
    transition: 500ms ease;
}
.col-1 .more{
    color: var(--color-Bright-orange);
}
.col-2 .more{
    color: var(--color-Dark-cyan);
}
.col-3 .more{
    color: var(--color-Very-dark-cyan);
}
.more:hover{
    cursor: pointer;
    background-color: transparent;
    color: var(--color-Transparent-white);
}


@media screen and (max-width:480px) {
    .preview-card-container{
        display: flex;
        flex-direction: column;
    }
    .col-1{
        border-top-left-radius: 6px;
        border-bottom-left-radius: unset;
        border-top-right-radius: 6px;
    }
    .col-3{
        border-top-right-radius: unset;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
    }
}